Havertys/adf/pipeline/MasterPipeline.json
{
	"name": "MasterPipeline",
	"properties": {
		"description": "This pipeline is used to copy data from DB2 to Azure Data Lake for both Staging and Raw storage. Several stored procedures are called to update logging and return metadata for the data that needs to be copied.",
		"activities": [
			{
				"name": "LookUp_MasterJobStart",
				"description": "This LookUp calls a stored procedure which creates the ETL.JobMaster status row and returns the MasterProcessNumber ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute_pl_ScaleDBUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_MasterJobStart]",
						"storedProcedureParameters": {
							"JobConfiguration": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JobConfiguration",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable_ETL_Master",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Execute_pl_ScaleDBUp",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_KeyValueConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_AzureSQLDB_Scaling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ServiceTier": "GeneralPurpose",
						"ComputeSize": {
							"value": "@activity('Lookup_KeyValueConfig').output.firstRow.SQLComputeSizeHigh",
							"type": "Expression"
						},
						"AzureRegionName": "East US"
					}
				}
			},
			{
				"name": "RunCheck",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookUp_MasterJobStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(string(activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber), '0'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SP_MasterJobEnd_Failure_Pipeline_BadRestCall",
							"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
								"storedProcedureParameters": {
									"MasterProcessNumber": {
										"value": {
											"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_ETL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute ETL_pl_ScaleDown",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_MasterJobEnd_Failure_Pipeline_BadRestCall",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_AzureSQLDB_Scaling_ScaleDown",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ServiceTier": "GeneralPurpose",
									"AzureRegionName": "East US"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SP_MasterJobEnd_Failure_Pipeline",
							"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute_pl_MetadataIngestion",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
								"storedProcedureParameters": {
									"MasterProcessNumber": {
										"value": {
											"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_ETL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute_pl_MetadataIngestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_Ingestion_Subpipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"JobConfiguration": {
										"value": "@pipeline().parameters.JobConfiguration",
										"type": "Expression"
									},
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_MasterJobEnd_Failure_Pipeline_copy",
				"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunCheck",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
					"storedProcedureParameters": {
						"MasterProcessNumber": {
							"value": {
								"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase_ETL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup_KeyValueConfig",
				"description": "This LookUp calls a stored procedure which\npulls the key/value pairs ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT dbo.udf_GetETLConfiguration('SQLComputeSizeHigh') AS SQLComputeSizeHigh",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable_ETL_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_MasterJobEnd_Success",
				"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after successful execution of previous steps.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunCheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MasterJobEnd_Success]",
					"storedProcedureParameters": {
						"MasterProcessNumber": {
							"value": {
								"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase_ETL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"JobConfiguration": {
				"type": "string",
				"defaultValue": "NightlyLoad"
			}
		},
		"folder": {
			"name": "MasterPipeline"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}