PIHKDataFactory/pipeline/pl_1_HydrateLake.json
{
	"name": "pl_1_HydrateLake",
	"properties": {
		"activities": [
			{
				"name": "start_audit",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[ADFAuditStart]",
						"storedProcedureParameters": {
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_azure_sql_metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "end_audit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Source to Landing Zone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "etl.ADFAuditUpdate",
					"storedProcedureParameters": {
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": "0",
							"type": "Int64"
						},
						"RowsRead": {
							"value": "0",
							"type": "Int64"
						},
						"EndPipeline": {
							"value": "True",
							"type": "Boolean"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Source to Landing Zone",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "start_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_loop_generic_source_to_stage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ETLStage": "1_HydrateLake",
						"SourceDB": " "
					}
				}
			}
		],
		"variables": {
			"ETLStage": {
				"type": "String",
				"defaultValue": "1_HydrateLake"
			},
			"OneItem": {
				"type": "Array",
				"defaultValue": [
					{
						"One": 1
					}
				]
			}
		},
		"folder": {
			"name": "master"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}