PIHKDataFactory/pipeline/pl_exec_storedprocedure_azure.json
{
	"name": "pl_exec_storedprocedure_azure",
	"properties": {
		"activities": [
			{
				"name": "lookup_queries",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "start_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[GetStagingQueries]",
						"storedProcedureParameters": {
							"ADFActionKey": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ADFActionKey",
									"type": "Expression"
								}
							},
							"ADFAuditKey": {
								"type": "Int32",
								"value": {
									"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
									"type": "Expression"
								}
							},
							"InsertDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_azure_sql_metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "end_audit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "execute_sp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "etl.ADFAuditUpdate",
					"storedProcedureParameters": {
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsInserted": {
							"value": {
								"value": "@activity('execute_sp').output.firstRow.RowsInserted",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsUpdated": {
							"value": {
								"value": "@activity('execute_sp').output.firstRow.RowsUpdated",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"EndPipeline": {
							"value": "True",
							"type": "Boolean"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"RowsDeleted": {
							"value": {
								"value": "@activity('execute_sp').output.firstRow.RowsDeleted",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "start_audit",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[etl].[ADFAuditStart]",
						"storedProcedureParameters": {
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ADFActionKey": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.ADFActionKey",
									"type": "Expression"
								}
							},
							"ParentADFAuditKey": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.ParentADFAuditKey",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_azure_sql_metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "update_audit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lookup_queries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "etl.ADFAuditUpdate",
					"storedProcedureParameters": {
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndPipeline": {
							"value": "False",
							"type": "Boolean"
						},
						"RowsCopied": {
							"value": null,
							"type": "Int64"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Got Metadata",
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(activity('lookup_queries').output.firstRow.TargetSchemaName, '.', activity('lookup_queries').output.firstRow.TargetTableName)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ETLStage": {
							"value": {
								"value": "@activity('lookup_queries').output.firstRow.ETLStage",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceDB": {
							"value": {
								"value": "@activity('lookup_queries').output.firstRow.SourceDB",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceTableName": {
							"value": {
								"value": "@concat(activity('lookup_queries').output.firstRow.SourceSchemaName,'.',activity('lookup_queries').output.firstRow.TableName)",
								"type": "Expression"
							},
							"type": "String"
						},
						"StoredProcedureName": {
							"value": {
								"value": "@activity('lookup_queries').output.firstRow.StoredProcedureName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "execute_sp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "update_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": {
							"value": "@activity('lookup_queries').output.firstRow.StoredProcedureName",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"ADFAuditKey": {
								"type": "Int32",
								"value": {
									"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_azure_sql_dw_dynamic_stored_procedure",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ADFActionKey": {
				"type": "int",
				"defaultValue": 138
			},
			"ParentADFAuditKey": {
				"type": "int"
			}
		},
		"variables": {
			"SourceDB": {
				"type": "String",
				"defaultValue": "Azure"
			}
		},
		"folder": {
			"name": "data warehouse"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}