Principal/PIHKDataFactory/pipeline/pl_copy_table_generic_source_to_stage.json
{
	"name": "pl_copy_table_generic_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "lookup_queries",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetLimitAuditInfo_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[GetStagingQueries]",
						"storedProcedureParameters": {
							"ADFActionKey": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ADFActionKey",
									"type": "Expression"
								}
							},
							"ADFAuditKey": {
								"type": "Int32",
								"value": {
									"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
									"type": "Expression"
								}
							},
							"InsertDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_azure_sql_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "end_audit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetLimitAuditInfo_Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "etl.ADFAuditUpdate",
					"storedProcedureParameters": {
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@variables('RowsCopied')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsRead": {
							"value": {
								"value": "@variables('RowsRead')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"EndPipeline": {
							"value": "True",
							"type": "Boolean"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "start_audit",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[etl].[ADFAuditStart]",
						"storedProcedureParameters": {
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"PipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentADFAuditKey": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.ParentADFAuditKey",
									"type": "Expression"
								}
							},
							"ADFActionKey": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.ADFActionKey",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_azure_sql_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "update_audit",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lookup_queries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "etl.ADFAuditUpdate",
					"storedProcedureParameters": {
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndPipeline": {
							"value": "False",
							"type": "Boolean"
						},
						"RowsCopied": {
							"value": null,
							"type": "Int64"
						},
						"RowsRead": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Got Metadata",
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(activity('lookup_queries').output.firstRow.TargetSchemaName, '.', activity('lookup_queries').output.firstRow.TargetTableName)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ETLStage": {
							"value": {
								"value": "@activity('lookup_queries').output.firstRow.ETLStage",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceDB": {
							"value": {
								"value": "@activity('lookup_queries').output.firstRow.SourceDB",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceTableName": {
							"value": {
								"value": "@concat(activity('lookup_queries').output.firstRow.SourceSchemaName,'.',activity('lookup_queries').output.firstRow.TableName)",
								"type": "Expression"
							},
							"type": "String"
						},
						"StoredProcedureName": {
							"value": {
								"value": "@activity('lookup_queries').output.firstRow.StoredProcedureName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "copy_table_generic",
				"description": "based on the type of source DB, execute the proper \"Copy Data\" activity. This is not parameterized because the sink for a \"Copy Data\" activity cannot be parameterized. Execute the SetLimitAuditInfo stored proc both before and after the Copy Data activity. If this is not an incremental ADFActionKey, then this stored proc will do nothing.",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "update_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('lookup_queries').output.firstRow.SourceDB",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "siif",
							"activities": [
								{
									"name": "copy_table_siif",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('lookup_queries').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_siif_dynamic",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_datalake_staging_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"FileSystem": {
													"value": "@activity('lookup_queries').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@activity('lookup_queries').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@activity('lookup_queries').output.firstRow.TargetFile",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "set_RowsCopied_siif",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "copy_table_siif",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsCopied",
										"value": {
											"value": "@string(activity('copy_table_siif').output.rowsCopied)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set_RowsRead_siif",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set_RowsCopied_siif",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsRead",
										"value": {
											"value": "@string(activity('copy_table_siif').output.rowsRead)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "p2000",
							"activities": [
								{
									"name": "set_RowsCopied_p2000",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "copy_table_p2000",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsCopied",
										"value": {
											"value": "@string(activity('copy_table_p2000').output.rowsCopied)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set_RowsRead_p2000",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set_RowsCopied_p2000",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsRead",
										"value": {
											"value": "@string(activity('copy_table_p2000').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "copy_table_p2000",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@activity('lookup_queries').output.firstRow.SourceQuery",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_p2000_dynamic",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_datalake_staging_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"FileSystem": {
													"value": "@activity('lookup_queries').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@activity('lookup_queries').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@activity('lookup_queries').output.firstRow.TargetFile",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "cliente",
							"activities": [
								{
									"name": "set_RowsCopied_cliente",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "copy_table_cliente",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsCopied",
										"value": {
											"value": "@string(activity('copy_table_cliente').output.rowsCopied)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set_RowsRead_cliente",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set_RowsCopied_cliente",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsRead",
										"value": {
											"value": "@string(activity('copy_table_cliente').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "copy_table_cliente",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('lookup_queries').output.firstRow.SourceQuery",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_cliente_dynamic",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_datalake_staging_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"FileSystem": {
													"value": "@activity('lookup_queries').output.firstRow.TargetContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@activity('lookup_queries').output.firstRow.TargetPath",
													"type": "Expression"
												},
												"FileName": {
													"value": "@activity('lookup_queries').output.firstRow.TargetFile",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "SetLimitAuditInfo_Pre",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "start_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[etl].[SetLimitAuditInfo]",
					"storedProcedureParameters": {
						"ADFActionKey": {
							"value": {
								"value": "@pipeline().parameters.ADFActionKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ExecutionSequence": {
							"value": "Pre",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetLimitAuditInfo_Post",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_table_generic",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[etl].[SetLimitAuditInfo]",
					"storedProcedureParameters": {
						"ADFActionKey": {
							"value": {
								"value": "@pipeline().parameters.ADFActionKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ADFAuditKey": {
							"value": {
								"value": "@activity('start_audit').output.firstRow.ADFAuditKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ExecutionSequence": {
							"value": "Post",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pmx_azure_metadata_sql_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ADFActionKey": {
				"type": "int",
				"defaultValue": 2
			},
			"ParentADFAuditKey": {
				"type": "int"
			}
		},
		"variables": {
			"RowsCopied": {
				"type": "String",
				"defaultValue": "0"
			},
			"RowsRead": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "generic_source_to_stage"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}